.course-head {
    margin: 20px 0;
    padding: 10px 20px;
    background: #ffffff;
    overflow: hidden;
    position: relative;
    .course-img img{
        width: 120px;
        height: 70px;
    }
    .course-info{
        padding-left: 140px;
        height: 70px;
        li{
            display: inline-block;
            vertical-align: top;
            margin-right: 100px;
            padding-top: 12px;
            text-align: center; 
            span{
                color: #A0A0A0;
            }
            p{
                margin-top: 12px;
                font-size: 18px;
                max-width: 240px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 2px 0;
            }
        }
    }
}