/*登录*/
.actived .loginBox {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
}
.loginBox{
    width: 430px;
    /*height: 527px;*/
    height: 360px;
    padding: 0 60px;
    background: white;
    position: fixed;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    margin: auto;
    z-index: 9999;
}
.loginBox{
    -webkit-transition: transform .4s cubic-bezier(.12,.4,.29,1);
    -webkit-transition: transform .4s cubic-bezier(.12,.4,.29,1.455);
    transition: transform .4s cubic-bezier(.12,.4,.29,1.455);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-40deg);
    transform: rotateX(-40deg);
}
.loginBox .title{
    /*height: 123px;*/
    /*width: 310px;*/
    /*line-height: 167px;*/
    /*font-size: 22px;*/
    /*text-align: center;*/
    height: 100px;
    width: 310px;
    line-height: 125px;
    font-size: 22px;
    text-align: center;
}
.loginBox .close{
    position: absolute;
    top: 14px;
    right: 14px;
    width: 15px;
    height: 15px;
    background: url("../../assets/images/icon.png") -89px -467px;
    cursor: pointer;
    transition: all 300ms linear;
}
.loginBox .close:hover{
    /*transform: rotate(180deg);*/
    /*-ms-transform: rotate(180deg);*/
    /*-moz-transform: rotate(180deg);*/
    /*-webkit-transform: rotate(180deg);*/
    /*-o-transform: rotate(180deg);*/
    background: url("../../assets/images/icon.png") -89px -437px;
}
.loginBox .title i{
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url("../../assets/images/logoIcon.png");
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: 5px;
}
.error-msg{
    color: red;
    height: 20px;
    font-size: 12px;
    padding-left: 2px;
}
.login-main input{
    width: 308px;
    height: 38px;
    border: 1px solid #DDDDDD;
    margin-bottom: 15px;
    padding-left: 8px;
}
.login-main input.highLight{
    border: 1px solid #36A9EC;
}
.login-main li:last-of-type{
    position: relative;
}
.login-main img{
    width: 60px;
    height: 22px;
    display: inline-block;
    position: absolute;
    top:8px;
    right: 11px;
}
.login-btn{
    width: 310px;
    height: 38px;
    background: #36A9EC;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}