*,
::after,
::before{
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    /* 解决触摸按钮 高亮 */
    // tap-highlight-color:transparent;
    box-sizing:border-box;
    word-break: break-all;
}
html{
    height: 100%;
}
html body{
    font-family: 'PingFangSC-Regular','Tahoma','Microsoft Yahei','sans-serif'!important;
    /*font-family:myFirstFont;*/
    font-size: 14px;
    line-height: 1;
    /*color: #333;*/
    color: #323232;
    position: relative;
    background: #F0F2F4!important;
    height: auto;
    min-height: 100%!important;
    /*padding-bottom: 260px;*/
    // padding-bottom: 410px;
    word-wrap: break-word;
    -ms-overflow-style: scrollbar;
    min-width: 1470px;
}

html ul{
    list-style: none;
    margin-bottom: 0;
}

html a{
    text-decoration: none;
    /*color: #333;*/
    color: #323232;
}
html p{
    margin-bottom: 0
}
html h1, html h2, html h3, html h4, html h5, html h6 {
    font-size: 100%;
    font-weight: 400;
    margin-bottom: 0;
}
input,textarea{
    border:0;
    outline: none;
    resize: none;
    /*-webkit-appearance: none;*/
}
/*input[type="radio"]{*/
    /*-webkit-appearance: radio;*/
/*}*/
i,em{
    font-style: normal;
}
img{
    vertical-align: middle;
    border: 0;
}
.l{
    float: left;
}
.r{
    float: right;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.none{
    display: none;
}

.clearfix::after,
.clearfix::before{
    clear: both;
    content: '.';
    height: 0;
    line-height: 0;
    visibility: hidden;
    display: block;
}

/*滚动条 start*/
body::-webkit-scrollbar {
    width: 10px;
    height: 4px;
    background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
body::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #fff ;
}
/*定义滑块 内阴影+圆角*/
body::-webkit-scrollbar-thumb {
    border-radius: 3px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:rgba(7, 170, 247, 0.7);
}
body::-webkit-scrollbar-thumb:hover {
    border-radius: 3px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:rgba(7, 170, 247, 1);
}

.w1200{
    width: 1208px;
    margin: 0 auto;
    /*overflow: hidden;*/
}
.content{
    width: 100%;
    overflow: hidden;
    /*background: #F0F2F4;*/
}

/*@font-face*/
/*{*/
    /*font-family: myFirstFont;*/
    /*src: url('Hiragino Sans GB W3.otf');*/
/*}*/

button{
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    border:none;
}